In [1]:
import sys
sys.path.append('C:/Users/HP/Desktop/Workshop_1/src')
from db_connection import conn

In [2]:
import pandas as pd

# Cargar el CSV en un DataFrame
df = pd.read_csv('C:/Users/HP/Desktop/Workshop_1/Data/candidates (1).csv', delimiter=';')

# Mostrar las primeras filas para verificar que se cargó correctamente
df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

In [3]:
# Cargar los datos en la tabla 'candidates' en PostgreSQL
df.to_sql(name='candidates', con=conn.engine, if_exists='replace', index=False)

# Mensaje de confirmación
print("Datos cargados exitosamente en la tabla 'candidates'.")

Datos cargados exitosamente en la tabla 'candidates'.

In [4]:
# Consulta para verificar la carga de datos
query = "SELECT * FROM candidates LIMIT 5"
result = pd.read_sql(query, con=conn.engine)

# Mostrar los resultados de la consulta
result

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7